<!DOCTYPE html>
<html lang="{{lang}}">

  <head>
    <title>keylord - {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/lock-{{imglock}}solid.ico" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
  </head>

  <body class="yellow-black">
    {{{body}}}
  </body>

</html>